/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

#aboutPMDialogContainer {
  background-image: url("chrome://branding/content/about-background.jpg");
  background-repeat: no-repeat;
  background-color: #9ABCD5;
  color: #101020; 
}

#aboutHeaderBox {
  background-image: url("chrome://branding/content/about-wordmark.png");
  background-repeat: no-repeat;
  background-position: center center;
  height: 44px;
}

#aboutVersionBox {
  text-shadow: 1px 1px 0px #9ABCD5;
}

#aboutTextBox {
  animation: 3s fadeIn;
  animation-fill-mode: forwards;
  text-shadow: 1px 1px 0px #9ABCD5;
  color: #101020; 
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#aboutLinkBox {
  padding: 15px 10px 0;
}

#aboutPMtrademark {
  font-size: 10px;
  text-align: center;
  color: #C0C0C0;
  text-shadow: 1px 1px 0px #000000;
  margin-top: 10px;
  margin-bottom: 10px;
}
