<!doctype html>
<html>
<head>
<meta charset="utf-8">
<style>
.fontA {
    font-family: "Noto Sans";
}
.fontB {
    font-family: "Noto Sans CJK TC";
}
.fontC {
    font-family: "WenQuanYi Zen Hei";
}
</style>
</head>
<body>
<p>No clipping of the font glyphs should occur.</p>
<select>
    <option>Latin Text jpg</option>
</select>
<select>
    <option>漢字 jpg</option>
</select>
<select class="fontA">
    <option>漢字 jpg</option>
</select>
<select class="fontB">
    <option>漢字 jpg</option>
</select>
<select class="fontC">
    <option>漢字 jpg</option>
</select>
</body>
</html>