/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

html {
  width: 100%;
  height: 100%;
}

body {
  font: message-box;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: #F9F9F9;
  display: -moz-box;
  position: relative;
  -moz-box-flex: 1;
  -moz-user-focus: normal;
  -moz-box-orient: vertical;
}

input {
  font: message-box;
  font-size: 16px;
}

input[type=button] {
  cursor: pointer;
}

/* UNDO */
#newtab-undo-container {
  transition: opacity 100ms ease-out;
  -moz-box-align: center;
  -moz-box-pack: center;
}

#newtab-undo-container[undo-disabled] {
  opacity: 0;
  pointer-events: none;
}

/* MARGINS */
#newtab-vertical-margin {
  display: -moz-box;
  position: relative;
  -moz-box-flex: 1;
  -moz-box-orient: vertical;
}

#newtab-margin-undo-container {
  display: -moz-box;
  left: 6px;
  position: absolute;
  top: 6px;
  z-index: 1;
}

#newtab-margin-undo-container:dir(rtl) {
  left: auto;
  right: 6px;
}

#newtab-undo-close-button:dir(rtl) {
  float:left;
}

#newtab-horizontal-margin {
  display: -moz-box;
  -moz-box-flex: 1;
}

#newtab-margin-top,
#newtab-margin-bottom {
  display: -moz-box;
  position: relative;
}

#newtab-margin-top {
  -moz-box-flex: 1;
}

#newtab-margin-bottom {
  -moz-box-flex: 2;
}

.newtab-side-margin {
  min-width: 10px;
  -moz-box-flex: 1;
}

/* GRID */
#newtab-grid {
  -moz-box-flex: 5;
  overflow: hidden;
  text-align: center;
  transition: 100ms ease-out;
  transition-property: opacity;
}

#newtab-grid[page-disabled] {
  opacity: 0;
}

#newtab-grid[locked],
#newtab-grid[page-disabled] {
  pointer-events: none;
}

/*
 * If you change the sizes here, make sure you
 * change the preferences:
 * toolkit.pageThumbs.minWidth
 * toolkit.pageThumbs.minHeight
 */
/* CELLS */
.newtab-cell {
  display: -moz-box;
  height: 210px;
  margin: 20px 10px 35px;
  width: 290px;
}

/* SITES */
.newtab-site {
  position: relative;
  -moz-box-flex: 1;
  transition: 100ms ease-out;
  transition-property: top, left, opacity;
}

.newtab-site[frozen] {
  position: absolute;
  pointer-events: none;
}

.newtab-site[dragged] {
  transition-property: none;
  z-index: 10;
}

/* LINK + THUMBNAILS */
.newtab-link,
.newtab-thumbnail {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

/* TITLES */
.newtab-sponsored,
.newtab-title,
.newtab-suggested {
  overflow: hidden;
  position: absolute;
  right: 0;
  text-align: center;
}

.newtab-sponsored,
.newtab-title {
  bottom: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  vertical-align: middle;
}

.newtab-suggested {
  border: 1px solid transparent;
  border-radius: 2px;
  font-size: 12px;
  height: 17px;
  line-height: 17px;
  margin-bottom: -1px;
  padding: 2px 8px;
  display: none;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  top: 215px;
  -moz-user-select: none;
}

.newtab-suggested-bounds {
  max-height: 34px; /* 34 / 17 = 2 lines maximum */
}

.newtab-title {
  left: 0;
  padding: 0 4px;
}

.newtab-sponsored {
  background-color: #FFFFFF;
  border: 1px solid #E2E2E2;
  border-radius: 3px;
  color: #4A4A4A;
  cursor: pointer;
  display: none;
  font-family: Arial;
  font-size: 9px;
  height: 17px;
  left: 0;
  line-height: 6px;
  padding: 4px;
  right: auto;
  top: -15px;
}

.newtab-site[suggested=true] > .newtab-sponsored {
  background-color: #E2E2E2;
  border: none;
}

.newtab-site > .newtab-sponsored:-moz-any(:hover, [active]) {
  background-color: #4A90E2;
  border: 0;
  color: white;
}

.newtab-site > .newtab-sponsored[active] {
  background-color: #000000;
}

.newtab-sponsored:dir(rtl) {
  right: 0;
  left: auto;
}

.newtab-site:-moz-any([type=enhanced], [type=sponsored], [suggested]) .newtab-sponsored {
  display: block;
}

.newtab-site[suggested] .newtab-suggested {
  display: table;
}

.sponsored-explain,
.sponsored-explain a,
.suggested-explain,
.suggested-explain a {
  color: white;
}

.sponsored-explain,
.suggested-explain {
  background-color: rgba(51, 51, 51, 0.95);
  bottom: 30px;
  line-height: 20px;
  padding: 15px 10px;
  position: absolute;
  text-align: start;
}

.sponsored-explain input,
.suggested-explain input {
  background-size: 18px;
  height: 18px;
  opacity: 1;
  pointer-events: none;
  position: static;
  width: 18px;
}

/* CONTROLS */
.newtab-control {
  position: absolute;
  opacity: 0;
  transition: opacity 100ms ease-out;
}

.newtab-control:-moz-focusring,
.newtab-cell:not([ignorehover]) > .newtab-site:hover > .newtab-control {
  opacity: 1;
}

.newtab-control[dragged] {
  opacity: 0 !important;
}

@media (-moz-touch-enabled) {
  .newtab-control {
    opacity: 1;
  }
}

/* DRAG & DROP */

/*
 * This is just a temporary drag element used for dataTransfer.setDragImage()
 * so that we can use custom drag images and elements. It needs an opacity of
 * 0.01 so that the core code detects that it's in fact a visible element.
 */
.newtab-drag {
  width: 1px;
  height: 1px;
  background-color: #fff;
  opacity: 0.01;
}

/* SEARCH */
#searchContainer {
  display: -moz-box;
  position: relative;
  -moz-box-pack: center;
  margin: 40px 0 15px;
}

#searchContainer[page-disabled] {
  opacity: 0;
  pointer-events: none;
}

#searchForm {
  display: -moz-box;
  position: relative;
  height: 36px;
  -moz-box-flex: 1;
  max-width: 600px; /* 2 * (290 cell width + 10 cell margin) */
}

#searchEngineLogo {
  border: 1px transparent;
  padding: 2px 4px;
  margin: 0;
  width: 32px;
  height: 32px;
  position: absolute;
}

#searchText {
  -moz-box-flex: 1;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-inline-start: 42px;
  padding-inline-end: 8px;
  background: hsla(0,0%,100%,.9) padding-box;
  border: 1px solid;
  border-spacing: 0;
  border-radius: 2px 0 0 2px;
  border-color: hsla(210,54%,20%,.15) hsla(210,54%,20%,.17) hsla(210,54%,20%,.2);
  box-shadow: 0 1px 0 hsla(210,65%,9%,.02) inset,
              0 0 2px hsla(210,65%,9%,.1) inset,
              0 1px 0 hsla(0,0%,100%,.2);
  color: inherit;
  unicode-bidi: plaintext;
}

#searchText:dir(rtl) {
  border-radius: 0 2px 2px 0;
}

#searchText[aria-expanded="true"] {
  border-radius: 2px 0 0 0;
}

#searchText[aria-expanded="true"]:dir(rtl) {
  border-radius: 0 2px 0 0;
}

#searchText[keepfocus],
#searchText:focus,
#searchText[autofocus] {
  border-color: hsla(216,100%,60%,.6) hsla(216,76%,52%,.6) hsla(214,100%,40%,.6);
}

#searchSubmit {
  margin-inline-start: -1px;
  padding: 0;
  border: 1px solid;
  background color: #e0e0e0;
  color: black;
  border-color: hsla(220,54%,20%,.15) hsla(220,54%,20%,.17) hsla(220,54%,20%,.2);
  border-radius: 0 2px 2px 0;
  border-inline-start: 1px solid transparent;
  box-shadow: 0 0 2px hsla(0,0%,100%,.5) inset,
              0 1px 0 hsla(0,0%,100%,.2);
  cursor: pointer;
  transition-property: background-color, border-color, box-shadow;
  transition-duration: 150ms;
  width: 50px;
}

#searchSubmit:dir(rtl) {
  border-radius: 2px 0 0 2px;
}

#searchSubmit:hover {
  background-color: hsl(220,54%,20%);
  color: white;
}

#searchText:focus + #searchSubmit,
#searchText + #searchSubmit:hover,
#searchText[autofocus] + #searchSubmit {
  border-color: #5985fc #4573e7 #3264d5;
}

#searchText:focus + #searchSubmit,
#searchText[keepfocus] + #searchSubmit,
#searchText[autofocus] + #searchSubmit {
  box-shadow: 0 1px 0 hsla(0,0%,100%,.2) inset,
              0 0 0 1px hsla(0,0%,100%,.1) inset,
              0 1px 0 hsla(220,54%,20%,.03);
}

#searchText + #searchSubmit:hover {
  box-shadow: 0 1px 0 hsla(0,0%,100%,.2) inset,
              0 0 0 1px hsla(0,0%,100%,.1) inset,
              0 1px 0 hsla(220,54%,20%,.03),
              0 0 4px hsla(216,100%,20%,.2);
}

#searchText + #searchSubmit:hover:active {
  box-shadow: 0 1px 1px hsla(221,79%,6%,.1) inset,
              0 0 1px hsla(221,79%,6%,.2) inset;
  transition-duration: 0ms;
}

.contentSearchSuggestionTable {
  font: message-box;
  font-size: 16px;
}
