/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

#aboutPMDialogContainer {
  background-image: url("chrome://branding/content/about-background.png");
  background-repeat: no-repeat;
  background-color: #000;
  color: #fff;
}

.text-link {
  color: #eef;
}

.bottom-link {
  color: black;
  background-color: #808080;
}

#aboutVersionBox {
  margin-top: 20px;
}

#aboutTextBox {
  font-family: Arial, helvetica;
  font-size: 14px;
  padding: 0px 10px;
}

#aboutLinkBox {
  padding: 15px 10px 20px;
  font-family: Arial, helvetica;
}
