%if 0
/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */
%endif

html {
  font: message-box;
  font-size: 100%;
  background-color: #ececec;
  color: #000;
  height: 100%;
}

body {
  margin: 0;
  display: -moz-box;
  -moz-box-orient: vertical;
  width: 100%;
  height: 100%;
  background-image: url(chrome://browser/content/abouthome/noise.png),
                    linear-gradient(hsla(0,0%,100%,.7), hsla(0,0%,100%,.4));
}

input,
button {
  font-size: inherit;
  font-family: inherit;
}

a {
  color: -moz-nativehyperlinktext;
  text-decoration: none;
}

.spacer {
  -moz-box-flex: 1;
}

#topSection {
  text-align: center;
}

#brandLogo {
  height: 192px;
  width: 192px;
  margin: 22px auto 31px;
  background-image: url("chrome://branding/content/about-logo.png");
  background-size: 192px auto;
  background-position: center center;
  background-repeat: no-repeat;
}

#searchForm {
  width: 470px;
}

/* SEARCH */
#searchContainer {
  display: -moz-box;
  position: relative;
  -moz-box-pack: center;
  margin: 10px 0 15px;
}

#searchContainer[page-disabled] {
  opacity: 0;
  pointer-events: none;
}

#searchForm {
  display: -moz-box;
  position: relative;
  height: 36px;
  -moz-box-flex: 1;
  max-width: 600px; /* 2 * (290 cell width + 10 cell margin) */
}

#searchEngineLogo {
  border: 1px transparent;
  padding: 2px 4px 2px 2px;
  margin: 0;
  width: 32px;
  height: 32px;
  position: absolute;
}

#searchText {
  -moz-box-flex: 1;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-inline-start: 42px;
  padding-inline-end: 8px;
  background: hsla(0,0%,100%,.9) padding-box;
  border: 1px solid;
  border-spacing: 0;
  border-radius: 2px 0 0 2px;
  border-color: hsla(228,54%,20%,.15) hsla(228,54%,20%,.17) hsla(228,54%,20%,.2);
  box-shadow: 0 1px 0 hsla(228,65%,9%,.02) inset,
              0 0 2px hsla(228,65%,9%,.1) inset,
              0 1px 0 hsla(0,0%,100%,.2);
  color: inherit;
  unicode-bidi: plaintext;
}

#searchText:dir(rtl) {
  border-radius: 0 2px 2px 0;
}

#searchText[aria-expanded="true"] {
  border-radius: 2px 0 0 0;
}

#searchText[aria-expanded="true"]:dir(rtl) {
  border-radius: 0 2px 0 0;
}

#searchText[keepfocus],
#searchText:focus {
  border-color: hsla(234,50%,60%,.6) hsla(234,38%,52%,.6) hsla(234,50%,40%,.6);
}

#searchSubmit {
  margin-inline-start: -1px;
  padding: 0 9px;
  border: 1px solid;
  background-color: #e0e0e0;
  color: black;
  border-color: hsla(238,45%,20%,.15) hsla(238,45%,20%,.17) hsla(238,45%,20%,.2);
  border-radius: 0 2.5px 2.5px 0;
  box-shadow: 0 0 2px hsla(0,0%,100%,.5) inset,
              0 1px 0 hsla(0,0%,100%,.2);
  cursor: pointer;
  width: 50px;
}

#searchSubmit:dir(rtl) {
  border-radius: 2px 0 0 2px;
}

#searchSubmit:hover {
  background-color: hsl(220,54%,20%);
  color: white;
}

#searchText:focus + #searchSubmit,
#searchText + #searchSubmit:hover {
  border-color: #5985fc #4573e7 #3264d5;
}

#searchText:focus + #searchSubmit,
#searchText[keepfocus] + #searchSubmit {
  box-shadow: 0 1px 0 hsla(0,0%,100%,.2) inset,
              0 0 0 1px hsla(0,0%,100%,.1) inset,
              0 1px 0 hsla(238,45%,20%,.03);
}

#searchText + #searchSubmit:hover {
  box-shadow: 0 1px 0 hsla(0,0%,100%,.2) inset,
              0 0 0 1px hsla(0,0%,100%,.1) inset,
              0 1px 0 hsla(238,45%,20%,.03),
              0 0 4px hsla(236,60%,20%,.2);
}

#searchText + #searchSubmit:hover:active {
  box-shadow: 0 1px 1px hsla(239,40%,6%,.1) inset,
              0 0 1px hsla(239,40%,6%,.2) inset;
}

/* LAUNCHER */
#launcher {
  display: -moz-box;
  -moz-box-align: center;
  -moz-box-pack: center;
  width: 100%;
  background-color: rgba(0,0,0,.03);
  border-top: 1px solid rgba(0,0,0,.03);
  box-shadow: 0 1px 2px rgba(0,0,0,.02) inset,
              0 -1px 0 rgba(255,255,255,.25);
}

#launcher:not([session]),
body[narrow] #launcher[session] {
  display: block; /* display separator and restore button on separate lines */
  text-align: center;
  white-space: nowrap; /* prevent navigational buttons from wrapping */
}

.launchButton {
  display: -moz-box;
  -moz-box-orient: vertical;
  margin: 16px 1px;
  padding: 14px 6px;
  min-width: 88px;
  max-width: 176px;
  max-height: 85px;
  vertical-align: top;
  white-space: normal;
  background: transparent padding-box;
  border: 1px solid transparent;
  border-radius: 5px;
  color: #525c66;
  font-size: 75%;
  cursor: pointer;
  transition-property: background-color, border-color, box-shadow;
  transition-duration: 120ms;
}

body[narrow] #launcher[session] > .launchButton {
  margin: 4px 1px;
}

.launchButton:hover {
  background-color: hsla(211,79%,6%,.03);
  border-color: hsla(210,54%,20%,.15) hsla(210,54%,20%,.17) hsla(210,54%,20%,.2);
}

.launchButton:hover:active {
  background-image: linear-gradient(hsla(211,79%,6%,.02), hsla(211,79%,6%,.05));
  border-color: hsla(210,54%,20%,.2) hsla(210,54%,20%,.23) hsla(210,54%,20%,.25);
  box-shadow: 0 1px 1px hsla(211,79%,6%,.05) inset,
              0 0 1px hsla(211,79%,6%,.1) inset;
  transition-duration: 0ms;
}

.launchButton[hidden],
#launcher:not([session]) > #restorePreviousSessionSeparator,
#launcher:not([session]) > #restorePreviousSession {
  display: none;
}

#restorePreviousSessionSeparator {
  width: 3px;
  height: 116px;
  margin: 0 10px;
  background-image: linear-gradient(hsla(0,0%,100%,0), hsla(0,0%,100%,.35), hsla(0,0%,100%,0)),
                    linear-gradient(hsla(211,79%,6%,0), hsla(211,79%,6%,.2), hsla(211,79%,6%,0)),
                    linear-gradient(hsla(0,0%,100%,0), hsla(0,0%,100%,.35), hsla(0,0%,100%,0));
  background-position: left top, center, right bottom;
  background-size: 1px auto;
  background-repeat: no-repeat;
}

body[narrow] #restorePreviousSessionSeparator {
  margin: 0 auto;
  width: 512px;
  height: 3px;
  background-image: linear-gradient(to right, hsla(0,0%,100%,0), hsla(0,0%,100%,.35), hsla(0,0%,100%,0)),
                    linear-gradient(to right, hsla(211,79%,6%,0), hsla(211,79%,6%,.2), hsla(211,79%,6%,0)),
                    linear-gradient(to right, hsla(0,0%,100%,0), hsla(0,0%,100%,.35), hsla(0,0%,100%,0));
  background-size: auto 1px;
}

#restorePreviousSession {
  max-width: none;
  font-size: 90%;
}

body[narrow] #restorePreviousSession {
  font-size: 80%;
}

.launchButton::before {
  display: block;
  width: 32px;
  height: 32px;
  margin: 0 auto 6px;
  line-height: 0; /* remove extra vertical space due to non-zero font-size */
}

#downloads::before {
  content: url("chrome://browser/content/abouthome/downloads.png");
}

#bookmarks::before {
  content: url("chrome://browser/content/abouthome/bookmarks.png");
}

#history::before {
  content: url("chrome://browser/content/abouthome/history.png");
}

#addons::before {
  content: url("chrome://browser/content/abouthome/addons.png");
}

%ifdef MOZ_SERVICES_SYNC
#sync::before {
  content: url("chrome://browser/content/abouthome/sync.png");
}
%endif

#settings::before {
  content: url("chrome://browser/content/abouthome/settings.png");
}

#restorePreviousSession::before {
  content: url("chrome://browser/content/abouthome/restore-large.png");
  height: 48px;
  width: 48px;
  display: inline-block; /* display on same line as text label */
  vertical-align: middle;
  margin-bottom: 0;
  margin-inline-end: 8px;
}

#restorePreviousSession:-moz-dir(rtl)::before {
  transform: scaleX(-1);
}

body[narrow] #restorePreviousSession::before {
  content: url("chrome://browser/content/abouthome/restore.png");
  height: 32px;
  width: 32px;
}

/* [HiDPI]
 * At resolutions above 1dppx, prefer downscaling the 2x Retina graphics
 * rather than upscaling the original-size ones (bug 818940).
 */
@media not all and (max-resolution: 1dppx) {
  #brandLogo {
    background-image: url("chrome://branding/content/about-logo@2x.png");
  }

  .launchButton::before {
    transform: scale(.5);
    transform-origin: 0 0;
  }

  #downloads::before {
    content: url("chrome://browser/content/abouthome/downloads@2x.png");
  }

  #bookmarks::before {
    content: url("chrome://browser/content/abouthome/bookmarks@2x.png");
  }

  #history::before {
    content: url("chrome://browser/content/abouthome/history@2x.png");
  }

  #addons::before {
    content: url("chrome://browser/content/abouthome/addons@2x.png");
  }

%ifdef MOZ_SERVICES_SYNC
  #sync::before {
    content: url("chrome://browser/content/abouthome/sync@2x.png");
  }
%endif

  #settings::before {
    content: url("chrome://browser/content/abouthome/settings@2x.png");
  }

  #restorePreviousSession::before {
    content: url("chrome://browser/content/abouthome/restore-large@2x.png");
  }

  body[narrow] #restorePreviousSession::before {
    content: url("chrome://browser/content/abouthome/restore@2x.png");
  }
}

