/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

%include ../../shared/newtab/newTab.css.inc

.newtab-undo-button {
  -moz-appearance: none;
  color: -moz-nativehyperlinktext;
  color: rgb(0,102,204);
  cursor: pointer;
  padding: 0;
  margin: 0 4px;
  border: 0;
  background: transparent;
  text-decoration: none;
  min-width: 0;
}

.newtab-undo-button > .button-box {
  padding: 0;
}

#newtab-undo-close-button {
  -moz-appearance: none;
  padding: 0;
  border: none;
  -moz-user-focus: normal;
}
