<!DOCTYPE html>
<html><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8"><script>try {
(function() {
	var target = 'blur';
	if ( target === '' || target === '{{1}}' ) { return; }
	var needle = 'mz_str', reText = '.?';
	if ( needle !== '' && needle !== '{{2}}' ) {
		reText = /^\/.+\/$/.test(needle)
			? needle.slice(1,-1)
			: needle.replace(/[.*+?^${}()|[\]\\]/g, '\\$&');
	}
	var re = new RegExp(reText);
	var chain = target.split('.');
	var owner = window, prop;
	for (;;) {
		prop = chain.shift();
		if ( chain.length === 0 ) { break; }
		owner = owner[prop];
		if ( owner instanceof Object === false ) { return; }
	}
	var desc = Object.getOwnPropertyDescriptor(owner, prop);
	if ( desc && desc.get !== undefined ) { return; }
	var magic = String.fromCharCode(Date.now() % 26 + 97) +
				Math.floor(Math.random() * 982451653 + 982451653).toString(36);
	var value = owner[prop];
	var validate = function() {
		var e = document.currentScript;
		if ( e instanceof HTMLScriptElement && e.src === '' && re.test(e.textContent) ) {
			throw new ReferenceError(magic);
		}
	};
	Object.defineProperty(owner, prop, {
		get: function() {
			validate();
			return value;
		},
		set: function(a) {
			validate();
			value = a;
		}
	});
	var oe = window.onerror;
	window.onerror = function(msg) {
		if ( typeof msg === 'string' && msg.indexOf(magic) !== -1 ) {
			return true;
		}
		if ( oe instanceof Function ) {
			return oe.apply(this, arguments);
		}
	}.bind();
})();
} catch ( e ) { }
(function() {
  var c = document.currentScript, p = c && c.parentNode;
  if ( p ) { p.removeChild(c); }
})();</script></head><body><div style="display: grid; width: 5em;">
   <div style="word-wrap: break-word; width: 5em; justify-self:start">
     first item with a longlonglongword
   </div>
   <div>
     second item
   </div>
</div>
<div style="display: grid; width: 5em;">
   <div style="width: 5em; justify-self:start">
     first item with a longlonglongword
   </div>
   <div>
     second item
   </div>
</div>
<div style="display: grid; width: 5em;">
   <div style="word-wrap: break-word; writing-mode:vertical-lr; justify-self:start">
     first item with a longlonglongword
   </div>
   <div>
     second item
   </div>
</div>
</body></html>