/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

.searchbar-textbox {
  width: 6em;
  min-width: 6em;
}

.autocomplete-textbox-container {
  -moz-box-align: stretch;
}

.textbox-input-box {
  margin: 0;
}

/* ::::: searchbar-engine-button ::::: */

.searchbar-engine-image {
  height: 16px;
  width: 16px;
  list-style-image: url("chrome://mozapps/skin/places/defaultFavicon.png");
}

.searchbar-engine-button {
  -moz-appearance: none;
  min-width: 0;
  margin: 0;
  padding: 0;
  padding-inline-end: 2px;
  -moz-box-align: center;
  background: none;
  border: none;
}

.searchbar-engine-button > .button-box {
  -moz-appearance: none;
  padding: 0;
  border: 0;
}

.searchbar-dropmarker-image {
  list-style-image: url("chrome://browser/skin/searchbar-dropdown-arrow.png");
  -moz-image-region: rect(0, 13px, 11px, 0);
}

.searchbar-engine-button[open="true"] > .searchbar-dropmarker-image {
  -moz-image-region: rect(0, 26px, 11px, 13px);
}


/* ::::: search-go-button ::::: */

.search-go-container {
  -moz-box-align: center;
}

.search-go-button {
  padding: 2px 1px;
  opacity: .4;
  list-style-image: url("chrome://browser/skin/Search.png");
}

.search-go-button:-moz-locale-dir(rtl) {
  transform: scaleX(-1);
}

.search-go-button:hover {
  opacity: .6;
}

.search-go-button:hover:active {
  opacity: .8;
}

.searchbar-engine-menuitem[selected="true"] > .menu-iconic-text {
  font-weight: bold;
}
